
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_2_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_3_2_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_2_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_communication_calling_1_0_0_beta_2_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_communication_common_1_0_0_beta_1_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_core_1_0_0_beta_1_aar.xml
.idea/libraries/Gradle__com_google_android_datatransport_transport_api_2_2_0_aar.xml
.idea/libraries/Gradle__com_google_android_datatransport_transport_backend_cct_2_2_0_aar.xml
.idea/libraries/Gradle__com_google_android_datatransport_transport_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_2_1_aar.xml
.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_5.xml
.idea/libraries/Gradle__com_google_dagger_dagger_2_24.xml
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_16_4_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_3_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_components_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_core_16_0_8_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_datatransport_17_0_3_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_encoders_json_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_20_2_3_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_installations_16_3_3_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_installations_interop_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_18_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_messaging_20_2_4_aar.xml
.idea/modules/app/AzureCall.app.iml
.idea/workspace.xml
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_2_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_3_2_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_2_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_communication_calling_1_0_0_beta_2_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_communication_common_1_0_0_beta_1_aar.xml
.idea/libraries/Gradle__com_azure_android_azure_core_1_0_0_beta_1_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_2_1_aar.xml
.idea/modules/app/AzureCall.app.iml
.idea/workspace.xml
